/*
!/.circleci
!/.travis.yml
!/.gitignore
!/.gitmodules
!/.codeclimate.yml
!/src
!/gradle
!/gradlew
!/gradlew.bat
!/README.md
!/License.txt
!/LICENSE
!/build.gradle
!/build.properties
!/build.bat
!/build.sh
!/gradle.properties
!/webresources
!/images
!/settings.gradle
.DS_Store
